@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

/* COLORS */

.bg-primary {
  background-color: #432DD7;
}

.text-primary {
  color: #432DD7;
}

.text-grey{
  color: #878585;
}

/* FORM INPUTS */

.form-input {
  width: 100%;
  height: 48px;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  outline: none;
  border: 1px solid #ccc;
}


/* BUTTONS */

.btn {
  min-height: 40px;
  min-width: 100px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  opacity: .6;
}
